@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-grey-1: #141414;
    --color-grey-2: #2C2C2C;
    --color-grey-3: #3F3F3F;
    --color-grey-4: #545454;
    --color-grey-5: #6A6A6A;
    --color-grey-6: #808080;
    --color-grey-7: #d3d3d3;
    --fixed-white: #FFFFFF;
    --color-brand-1: #803ED9;
    --color-brand-2: #D859D4;

    --font-size-1: 2rem;     /* 32px */
    --font-size-2: 1.5rem;   /* 24px */
    --font-size-3: 1.125rem; /* 18px */ 
    --font-size-4: 1rem;     /* 16px */
    --font-size-5: 0.75rem;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px) {


}